<div class="container mt-5">
  <ngb-pagination
  [(page)]="page"
  [pageSize]="20"
  [collectionSize]="resultado.quantidadePaginas"
  (pageChange)="trocarDePagina($event)"
  class="custom-pagination"
  [ellipses]="false"
  [boundaryLinks]="true"
  [maxSize]="5">
</ngb-pagination>

  <h2 class="fs-1 text-warning">Filmes Em Alta</h2>
  <div class="row g-3">
    <div class="col-6 col-md-4 col-lg-2 text-center" *ngFor="let filme of filmesPorPolularidade">
      <div class="d-grid gap-2">
        <img routerLink="/detalhes-filmes/{{ filme.id }}" src="{{ filme.urlPoster }}" alt="{{ filme.titulo }}" class="img-fluid rounded-3">
        <a routerLink="/detalhes-filmes/{{ filme.id }}" class="fs-5 link-warning text-decoration-none">{{ filme.titulo }}</a>
      </div>
    </div>
  </div>
</div>
